*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --border-color: #E5E5E5;
    --txt-secundary-color:  #DDDDDD;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

html::-webkit-scrollbar {
    width: 0px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    margin-right: 2.8%;
}

.class-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 1.5%;
}

.menus-click__p{
    font-size: 1.2rem;
    margin: 0 15%;
}

.menus-click__p:hover  {
    font-weight: 600;
    cursor: pointer;
}

.menus-click {
    display: none;
    position: absolute;
    background-color: #6F77A6;
    width: 43px;
    height: 2px;  
    margin: 3px auto;
    top: -7px;
    left: 10px;
}

.header__menus-ctn {
    width: 80px;
    position: relative;
}

.header__menus-ctn:hover p ~ div {
    display: flex;
    cursor: pointer;
}

.header__search-bar-ctn {
    overflow: hidden;
    width: 70%;
}

.search-bar__containe-bar{
    display: flex;
    align-items: center;
    max-width: 260px;
    min-width: 100px;
    width: 96%;
    transform: translate(87%); 
    transition: all 2s ease;
}

.search-bar__containe-bar:hover{
    transform: translate(0); 
    transition: all 2s ease;
}

.bar {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    margin-right: 12px;
    height: 30px;
    padding: 12px;
    outline: none;
}

.search-bar__container-icon {
    border: 2px solid var(--border-color);
    border-radius: 100%;
    margin-right: 15px;
    padding: 6px;
    width: 30px;
}

.search-bar__icon{
    background-image: url("./assets/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 14px;
}

.search-bar__button {
    font-size: 1.1rem;
    background-color: transparent;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    max-width: 120px;
    min-width: 50px;
    width: 40%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 5% 0;
}

main > hr {
    margin: 0 8% 0 33%;
    border-top: none;    
}

.main__title{
    font-size: 3.6rem;
    font-weight: 600;
    margin-left: 8.3%;
    letter-spacing: -1px;
}

.position-sorts{
    margin-left: 70%;
}

.sorts-paragraph {
    font-size: 1.3rem;
    color: var(--txt-secundary-color);
    transition: all 1s ease;
}

.sorts-paragraph:hover {
    transition: all 1s ease;
    color: black;
    cursor: pointer;
}

.separator-line{
    background-color: var(--txt-secundary-color);
    height: 20px;
    width: 1px;
    margin: 0 10px;
}

.main__section-categorie{
    display: flex;
    margin: 3% 8%;
}

.main__section-information{
    display: flex;
    flex-direction: column;
    margin-right: 3.8%;
}

.section-information-title{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
}

.section-information-subtitle{
    font-size: 1rem;
    color: gray;
    font-weight: 400;
    padding: 2%;

}

.section-information-paragraph{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 2%;
}


.main__section-img{
    max-width: 265px;
    min-width: 130px;
    width: 50%;
    border-radius: 12px;
    margin: 0 1%;
}

@media (max-width: 480px) {
    header{
        flex-direction: column;
    }
    
    .header__logo{
        margin: 5% auto;
    }

    .class-flex{
        flex-wrap: wrap;
        margin: 4% auto;
    }
    .main__title{
        margin: auto;
    }
    .bar {
        width: 60%;
        margin-right: 15%;
    }
    .search-bar__container-icon{
        margin: auto;
        margin-right: 5px;
    }
    .search-bar__button{
        margin: 5% auto;
    }
    .search-bar__containe-bar{
        transform: none;
        transition: none;
    }
    .main__section-img{
        margin: 1%;
    }
    .section-information-title, .section-information-subtitle, .section-information-paragraph{
        text-align: center;
    }
    
}